@use '../../globalstyles/constants' as *;

.outer {
  padding: 2rem;
  min-height: 100vh;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 4px solid teal;
  border-radius: 2rem;
  max-width: 45ch;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}

@media (min-width: $breakpoint) {
  .inner {
    max-width: 100ch;
  }
}
