.container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.input {
  padding: 0.5rem;
}

.location {
  padding: 0.75rem;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.loading {
  cursor: auto;
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
